
@font-face {
    font-family: 'CaviarDreams';
    src: url('../css/font/CaviarDreams.woff2') format('woff2'),
         url('../css/font/CaviarDreams.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('../css/font/LouisGeorgeCafe.woff2') format('woff2'),
         url('../css/font/LouisGeorgeCafe.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

body{

    font-family: 'LouisGeorgeCafe';
}